h1{
	padding: 5% 25%;
	text-align: left;

}
.p-2{
	width: 50px;
	height: 50px;
}

.p-2:hover{
	opacity: 20%;
}

.space-x-6 img{
	width: 30%;
	height: auto;
}



@media only screen and (min-device-width: 480px){
	h1{
		padding: auto;
	}
}

@media only screen and (min-device-width: 768px){
	h1{
		padding:auto;
		font-size: 20%;
	}
}